<% provide(:title, "Home") %>
<div class="intro-text">
  <div class="container">
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">資料請求はこちらから！</a>
  </div>
</div>
