<% provide(:title, "Home") %>
<div class="intro-text">
  <div class="container">
    <h2 class="intro_message">
      人と住まいのいのちを
      <br>
      「やさしく、つよく、いつまでも」守る。
    </h2>
    <h1>
      <span class="mokuzai">木材超耐久処理</span>
      <br>
      <span class="gurad">
      ボロン<span class="de"> de </span>ガード
      </span>
    </h1>
    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">資料請求はこちらから！</a>
    </div>
  </div>
</div>
