<% provide(:title, "Home") %>
  <div class="intro-text">
    <div class="container">
      <div class="intro_message">
        人と住まいのいのちを
        <br>
        「やさしく、つよく、いつまでも」守る。
      </div>
      <div class = "intro_title">
        <span class="sub_title">シロアリ対策処理</span>
        <br>
        <span class="main_title">
        ボロンdeガード
        </span>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">資料請求はこちらから！</a>
      </div>
    </div>
  </div>

<section id="products">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">ボロンdeガード<span class="toha">とは</span></h2>
            <h3 class="section-subheading text-muted">
              <div class="section_text">自然素材「ホウ酸」でシロアリ対策する<br class="br-sp">木材保存剤です。</div>
              <div class="section_text">天然素材でできてるので、<br class="br-sp">住まいにも人にもやさしい！</div>
              <div class="section_text">住まいを「長持ち」させ、<br class="br-sp">安全のホウ酸処理です。</div>
              <div class="section_text"><%= link_to "2018年度グッドデザイン賞受賞", "https://www.g-mark.org/award/describe/47535"%></div>
            </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">E-Commerce</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Responsive Design</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Web Security</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
          </div>
        </div>
      </div>
    </section>
