@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
margin: 0;
color: #212529;
text-align: left;
background-color: #fff;
font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
/* 追加 */
transform: rotate(.03deg);
}

section {
  overflow: auto;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
display: block;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.text-uppercase {
text-transform: uppercase!important;
}

.btn-xl {
font-size: 18px;
padding: 20px 40px;
font-weight: 700;
}

.btn-primary {
font-weight:900;
font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
background-color: #27bb5a;
border-color:  #27bb5a;
  &:hover {
    background-color:  #21a64f!important;
    border-color: #21a64f!important;
    }
}

a {
color: #27bb5a;
  &:hover {
    color:#21a64f;
    text-decoration: underline;
  }
}

.fa-circle{
  color:#27bb5a;
}

@media screen and (min-width: 480px) {
	.br-sp { display:none; }
}

.fa-stack {
display: inline-block;
height: 2em;
line-height: 2em;
position: relative;
vertical-align: middle;
width: 2.5em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 900;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin:0;
  //スマホサイズ
  @media (min-width: 480px) {
    font-size: 3.5em;
  }
  //PCサイズ
  @media (min-width: 768px) {
    font-size: 4em;
  }
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  //スマホサイズ
  @media (min-width: 480px) {
    font-size: 3.5em;
  }
  //PCサイズ
  @media (min-width: 768px) {
    font-size: 4em;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.text-muted {
color: #494f55!important;
}


/* header */
.navbar{
  background-color: #21232a;
  position: relative;
  margin-bottom: 0;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  letter-spacing: 0.05em;
  #navbar a{
    color:#fff;
    &:hover {
      color:#27bb5a;
      }
  }
  .navbar-brand{
    background: url("/images/header_logo.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 300px;
    margin-top: 0;
    margin-left: 5px;
  }
}

//イントロ

.intro-text {
  text-align: center;
  background-image:url("/images/intro_img.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size:cover;
  display: block;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 220px;
  position:relative;
    &::before {
    /* 透過した黒を上から重ねるイメージ */
      background-color: rgba(0,0,0,0.4);
      /* 自由に位置指定 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
    }
  .container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .intro_message{
    color:white;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 0;
    line-height: 1.7em;
  }
  .intro_title{
    font-size: 3em;
    .sub_title{
      font-size:0.45em;
    }
    .main_title{
      font-weight: 900;
      font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    }
    margin-bottom:35px;
    line-height: 1em;
  }

  //タブレットサイズ
  @media (min-width: 480px) {
    padding-top: 250px;
    padding-bottom: 250px;
    .intro_message{
      font-size: 1.5em;
      padding-top: 80px;
      padding-bottom: 30px;
    }
    .intro_title{
      font-size: 3.8em;
      margin-bottom:70px;
    }

  }
  //PCサイズ
@media (min-width: 768px) {
    padding-top: 400px;
    padding-bottom: 350px;
    .intro_message{
      font-size: 2.5em;
      padding-top: 150px;
      padding-bottom: 50px;
    }
    .intro_title{
      font-size:5.5em;
      margin-bottom:80px;
    }
  }
}
//SERVISES
section{
  padding: 150px 0;

  .section-heading {
    font-weight: 900;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    margin-top: 0;
    margin-bottom: 40px;
    color:#212529;
    letter-spacing: 1px;
    .toha{
      font-size: 0.7em;
      font-weight: 300;
    }
  }

  .section-subheading{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 75px;
    text-transform: none;
    line-height: 1.7em;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    transform: rotate(.03deg);
    .section_text{
      padding:7px 0;
    }
  }

  .col-sm-4{
    padding-bottom: 50px;
  }

  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }
  .text-muted {
    color: #6c757d!important;
  }

  //スマホサイズ
  @media (max-width:   480px) {
    padding: 100px 0;
  }
  //タブレットサイズ
  @media (min-width: 768px) {
    .container {
      max-width: 720px;

    }
  }

  @media (min-width: 992px){
    .container {
      max-width: 960px;
    }
  }
}

//Contact
section#contact {
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: center;
  padding-top:80px;
  padding-bottom: 50px;
  margin-bottom: 0;
  .section-heading{
    font-size: 40px;
    padding-top:0;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .section-subheading {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 50px;
    line-height:2em;
    text-transform: none;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .form-control {
    padding: 20px;
    &:focus {
      border-color: #27bb5a;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .form-group textarea.form-control {
    height: 310px;
  }


  @media (max-width:   480px) {
    padding: 100px 0;
  }
  //タブレットサイズ
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  //PCサイズ
  @media (min-width: 992px){
    .container {
      max-width: 960px;
      .section-subheading {
        .ex_br{
          display:none;
        }
      }
    }
  }
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
