@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
margin: 0;
color: #212529;
text-align: left;
background-color: #fff;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.text-uppercase {
text-transform: uppercase!important;
}

.btn-xl {
font-size: 18px;
padding: 20px 40px;
font-weight: 700;
}

.btn-primary {
background-color: #27bb5a;
border-color:  #27bb5a;
}

.btn-primary:hover {
background-color:  #21a64f!important;
border-color: #21a64f!important;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  text-align: center;
  margin:0;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
.navbar{
  background-color: #343741;
  position: relative;
  margin-bottom: 0;

  .navbar-brand{
    background: url("/images/header_logo.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 300px;
    margin-top: 0;
    margin-left: 5px;
  }
}

//イントロ

.intro-text {
  text-align: center;
  background-image:url("/images/img_3.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size:cover;
  display: block;
  color: #fff;
  padding-top: 150px;
  padding-bottom: 220px;
  position:relative;
    &::before {
    /* 透過した黒を上から重ねるイメージ */
      background-color: rgba(0,0,0,0.4);
      /* 自由に位置指定 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: ' ';
    }
  .container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  h2{
    color:white;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    line-height: 1.7em;
  }
  h1{
    .mokuzai{
      font-size:0.45em;
      font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    }
    .gurad{
      letter-spacing: -2.5px;

      .de{
        font-size:0.9em;
      }
    }
    margin-bottom:35px;
    line-height: 1em;
    font-family: ToppanBunkyuMidashiGothicStdN-ExtraBold;

  }
}


@media (min-width: 768px) {
  .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
    h2{
      font-size: 2.5em;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    h1{
      font-size:5em;
      margin-bottom:70px;
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
