<footer class="footer">
  <div class="container">
    <small>
      Copyright c 2018 NaturalGuard co.,LTD. All rights reserved.
    </small>
    <nav>
      <ul>
        <li><a href="#product">ページトップへ</a></li>
      </ul>
    </nav>
  </div>
</footer>
